<section class="section-wrapper highlight">
    <h2>Summary</h2>
    <summary>.NET Full Stack Developer with <strong>{{displayableYear}} years</strong> and
        <strong>{{displayableMonths}}&nbsp;{{Monthadjective}}</strong> experience in building scalable web and desktop
        applications
        across cloud and on-premise environments. Skilled in Dotnet, Angular, CI/CD pipelines, and Docker containers,
        delivering
        robust, production-ready solutions.
    </summary>
</section>