div.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 10px;
    height: 100vh;
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
    > div.exp {
        overflow-y: auto;
        max-height: 100vh;
        > p.heading {
            padding-left: 1em;
        }
    }
    > div.quali {
        > div.qualification-info {
            padding-left: 1em;
            > p.heading {
                padding-left: 1em;
            }
            > ul {
                list-style: none;
                > li {
                    margin: 1em;
                    margin-right: 0;
                    > p.deg {
                        font-size: 0.8rem;
                    }
                    > p.uni {
                        font-size: 0.7rem;
                    }
                    > p.time {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}
