<div class="wrapper">
    <div class="exp">
        <p style="padding-left: 1em;" class="heading">Experience</p>
        <ric-timeline *ngFor="let e of exp" [exp]="e"></ric-timeline>
    </div>
    <div class="quali">
        <div class="qualification-info">
            <p class="heading">Qualifications</p>
            <ul>
                <li *ngFor="let q of qualifications">
                    <p class="deg">{{q.deg}}</p>
                    <p class="uni">{{q.uni}}</p>
                    <p class="time">{{q.tim}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>