section.section-wrapper {
    > ul {
        list-style: none;
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        > li {
            > img,
            svg {
                display: block;
                height: 32px;
                object-fit: contain;
            }
        }
    }
}
