<ric-headline></ric-headline>
<section class="wrapper">
    <section class="left">
        <section class="top">
            <ric-summary></ric-summary>
        </section>
        <section class="bottom">
            <section class="bottom-left">
                <ric-skills></ric-skills>
            </section>
            <section class="bottom-right">
                <ric-education></ric-education>
            </section>
        </section>
    </section>
    <section class="right">
        <ric-experience></ric-experience>
    </section>
</section>