section.section-wrapper {
    > div.college {
        margin-bottom: 10px;
        > span {
            display: inline-block;
            font-weight: 900;
            &.college {
                margin-left: 5px;
            }
        }
        > div.years {
            // color: gray;
            > span:nth-last-of-type(2) {
                margin: 0 10px;
            }
            > span.from,
            > span.to {
                text-transform: capitalize;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
