div.wrapper {
    position: relative;
    > div.icon {
        position: absolute;
        width: 10px;
        top: 0;
        bottom: 0;
        left: 10px;
        > div.icon-top {
            width: 2px;
            background-color: rebeccapurple;
            position: absolute;
            left: 4px;
            bottom: 4.22em;
            top: 0;
        }
        > div.icon-circle {
            height: 10px;
            width: 10px;
            border: 2px solid rebeccapurple;
            position: absolute;
            left: 0;
            top: 1.25em;
            border-radius: 50%;
        }
        > div.icon-bottom {
            width: 2px;
            background-color: rebeccapurple;
            position: absolute;
            left: 4px;
            bottom: 0;
            top: 1.7em;
        }
    }
    > div.content {
        padding: 1em;
        padding-left: 30px;
        > div.year {
            font-size: 0.7rem;
            color: gray;
        }
        > div.comp {
            font-size: 0.7rem;
            color: gray;
        }
        > div.profile {
            font-size: 0.7rem;
        }
        > div.desc {
            font-size: 0.6rem;
        }
    }
}
