<div class="wrapper">
    <div class="icon">
        <div class="icon-top"></div>
        <div class="icon-circle"></div>
        <div class="icon-bottom"></div>
    </div>
    <div class="content">
        <div class="year">2013-2016</div>
        <div class="comp">HCL Technologies Ltd.</div>
        <div class="profile">Senior Software Engineer</div>
        <div class="desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quos at vitae, ipsa harum
            dolorum eligendi cum culpa placeat ex eveniet! Molestias perferendis, sed optio fuga ipsa illo nisi impedit?
        </div>
    </div>
</div>