<div class="wrapper">
    <div class="icon">
        <div class="icon-top"></div>
        <div class="icon-circle"></div>
        <div class="icon-bottom"></div>
    </div>
    <div class="content">
        <div class="year" (click)="ShowDetail()">{{exp.time}}</div>
        <div class="comp" (click)="ShowDetail()">{{exp.comp}}</div>
        <div class="profile" (click)="ShowDetail()">{{exp.prof}}</div>
        <div class="desc" (click)="ShowDetail()">{{exp.desc}}</div>
    </div>
</div>

<ng-template #det>
    Dialog
</ng-template>