section.section-wrapper {
    > div.skills-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        padding: 10px;
        > span {
            background-color: var(--color-acc);
            color: var(--color-bg);
            border-radius: 4px;
            padding: 6px 12px;
            font-size: 14px;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }
}
