<section class="section-wrapper">
    <h2>Skills</h2>
    <div class="skills-wrap">
        <span>c#</span>
        <span>typescript</span>
        <span>.NET</span>
        <span>dotnet core</span>
        <span>.net mvc</span>
        <span>webapi</span>
        <span>linq</span>
        <span>entity framework</span>
        <span>nodejs</span>
        <span>angular</span>
        <span>html & css</span>
        <span>javascript</span>
        <span>jquery</span>
        <span>docker</span>
        <span>cicd/github actions</span>
        <span>sql</span>
        <span>ibm db2</span>
        <span>oracle db</span>
        <span>xunit</span>
    </div>
</section>