div.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
    background-color: black;
    color: white;
    height: 100vh;
    > div.personal-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        > div.pic {
            margin-bottom: 10px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 1), 0 0 35px 0 var(--accent-color);
            > img {
                height: 100%;
                object-fit: contain;
            }
        }
        > div.name {
            margin-bottom: 1em;
            > p {
                font-weight: 600;
            }
        }
        > div.contacts {
            > ul {
                list-style: none;
                > li {
                    font-size: 0.8rem;
                    > a {
                        display: flex;
                        gap: 7px;
                        text-decoration: none;
                        color: inherit;
                        align-items: center;
                        > span.icon {
                            height: 1em;
                            width: 1em;
                            > svg {
                                height: 100%;
                                fill: white;
                            }
                        }
                    }
                }
            }
        }
    }
    > div.skill-info {
        padding-left: 1em;
        > ul {
            list-style: none;
            font-size: 0.8rem;
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
        }
    }
}
